        /* header */
        /*  */
      
        .img-header-p{
            margin-left: 50%;
            margin-top:-10%;
         
        }
        
        .container .img-header{
          
            width: 100%;
            margin: none;
            padding: none;
            opacity: 0.85;
        }


        .container {
            position: relative;
            text-align: center;
           
          }
          
          .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }


        /* le style de text entre image de header */
        .slogo{
            font-style: italic;
            font-weight: bold;
            font-size: 50px;
            line-height: 31px;
            font-family: 'Courier New', Courier, monospace;
            color: #000;
            text-align: center;
        }
        
        legend{
            color: #74684E;
            position: relative;
            margin-left: 39%;
            margin-top: 2%;
            width: 22% !important;
        }
        legend::after{
            content: "";
            display: block;
            width: 117%;
            height: 2px;
            background-color: #000000;
            position: absolute;
            left: 135%;
            top: 60%;
        }

        legend::before{
            content: "";
            display: block;
            width: 117%;
            height: 2px;
            background-color: #000000;
            position: absolute;
            left: -156%;
            top: 60%;
        }

        .div-category{
            color: #74684E;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: 22%;
        }
        .category{
            margin: 4%;
        }
        .category1::before{
            content: "";
            display: block;
            width: 2px;
            height: 30px;
            background-color: #000000;
            position: absolute;
            margin-left: 12%;
        
        }
        .category2::before{
            content: "";
            display: block;
            width: 2px;
            height: 30px;
            background-color: #000000;
            position: absolute;
            margin-left: 13%;
        }
        .category3::before{
            content: "";
            display: block;
            width: 2px;
            height: 30px;
            background-color: #000000;
            position: absolute;
            margin-left: 9%;
        }
           .produits{
              display: flex;
              justify-content:space-between;
            } 
            .photo-headr{
                width: 101%;
                HEIGHT: 55%;
            }
            .par-details{
                background: linear-gradient(269.63deg, #999999 0.35%, #A2A2A2 0.36%, rgba(153, 153, 153, 0) 99.7%);
                HEIGHT: 55%;
                PADDING-BOTTOM: 5.5%;
            }
            .div-img{
                padding: 0;
            }
            .titre{
                color: #1B1628;
                font-family: Inria Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 53px;
            }
            .par1 {
                font-style: normal;
                font-weight: bold;
                font-size: 17px;
                line-height: 24px;
                color: #C46237;
            }
            .par2{
                font-family: Alef;
                font-style: normal;
                font-size: 13px;
                line-height: 17px;
                color: #413E3E;
            }